
$white: #ffffff;
$black: #000000;
$light-grey: #f0f0f0;
$medium-grey: #999;

$bg-color: $white;
$inline-code-bg: $light-grey;
$code-bg: $black;


// layout
$nav-width: 10%;
$nav-push-left: 15%;
$content-width: 74%;

// fonts
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, "Arial Narrow", Arial, "Lucida Grande", Tahoma, Verdana sans-serif;
//$font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, Tahoma, Verdana, sans-serif;

body {
  font-family: $font-family;
  color: #000000;
}

#wrapper {
  max-width: 960px;
  padding: 2em 1.5em 0em 1.5em; // t r b l
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-color;
  font-size: 1.2em;
  line-height: 1.6em;
}

#header {
  width: 100%;
  position: relative;
  font-size: 1em;
  margin: 0;
}

#navigation {
  width: $nav-width;
  right: $nav-push-left;
  float: right;
  margin-right: 0;
  display: inline;
  text-align: center;
  position: fixed;
  padding-top: 5em;
}

#content {
  width: $content-width;
  float: left;
  margin-right: 2%;
  display: inline;
  margin-bottom: 3em;
}

#footer {
  width: 74.4186%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  margin-bottom: 4.66667em;
  text-align: center;
  color: $medium-grey;
  padding: 0.5em 0 4em 0;
}

code {
  background-color: $inline-code-bg;
}

.highlight {
  background-color: $code-bg;
  margin: 1.0em 1.0em 1.0em 1.0em;
  padding: 0.3em 0.3em 0.3em 0.3em;
  color: $white;
}

h1 {
  font-weight: 100;
  font-size: 2.2em;
  padding: 2em 0em 0.3em 0em;
}

h2 {
  font-size: 2.0em;
  padding: 0.3em 0em 0.3em 0em;
}

h3 {
  font-size: 1.8em;
  padding: 0.3em 0em 0.3em 0em;
}

h4 { font-size: 1.6em; }

h5 { font-size: 1.4em; }

p {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

strong { font-weight: bold; }

em { font-style: italic; }

blockquote {
  margin: 1em 3em;
  color: $light-grey;
  border-left: 2px solid #999;
  padding-left: 1em;
}

ul, ol, li {
  @extend p;
  list-style: disc inside;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: 0.0em 0.0em 0.0em 0.0em;
}

//#processing {
//  width: $content-width;
//  right: $nav-push-left;
//}
