-# coding:
!!! 5
%html
  %head
    %title echohead.org
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link(rel="stylesheet" href="css/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
    %link(rel="stylesheet" href="css/pygments.css")
  %body
    #wrapper
      #header
        foobar
      #content
        =yield
      #navigation
        %h3 echohead
        %br
        %a(href='/') home
        %br
        %a(href='/music') music
        %br
        more stuff
        %br
        some more
      #footer
        %p
          © tim miller
