%script{ :src => "/js/libs/jquery-1.5.min.js"}
%script{ :src => "/js/libs/underscore-1.1.4.min.js"}
%script{ :src => "/js/libs/processing-1.4.1.min.js"}
%script{ :src => "/js/libs/coffee-script.js"}
%script{ :type => "text/coffeescript", :src => "/js/sandbox.coffee"}

#container
  %canvas(id="processing" width=700 height=450)
  %br
  The result of playing around with coffeescript, processing.js, and webgl.
